<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

		<title>InnoWow Solutions - Services</title>

		<!-- Bootstrap core CSS -->
		<link href="../../dist/css/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="jumbotron.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy this line! -->
		<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>


		<%= render 'layouts/header' %>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Consulting</h3>
			</div>

			<div class="container">
				<!-- Example row of columns -->
				<div class="row">
					<h2>Careers</h2>
<b>
					<tr class="maison">
						<td colspan="2" valign="top" class="maison">
							We are currently looking for exceptional candidates in the following areas:
							<li>
								Project Manager
								</li>
								<P>
									You are someone who leads by example rather than by dictate and you know how to 
									bring out the best in people. You’re not afraid to deal with conflicts. You know 
									when it’s good to say “No” and when to push for more results.

							<li>
								Account Manager
								</li>
								<P>
									The Account Manager is the guardian of the strategic relationship and is fully 
									responsible for the retention, development, servicing and expansion of InnoWow 
									Client services



						<p>
						</p></td>


					</tr>

				</div>
			</div>

		</div>
		</div>

		<hr>

		</div> <!-- /container -->
	<%= render 'layouts/footer' %>

	</body>
</html>