    <div class="navbar navbar-inverse navbar-fixed-top nav-justified" role="navigation">
      <div class="container">
        <div class="navbar-header nav-justified">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/static_pages/home">Home</a>
          <a class="navbar-brand" href="/static_pages/services">Services</a>
          <a class="navbar-brand" href="/static_pages/careers">Careers</a>
          <a class="navbar-brand" href="/static_pages/about">About</a>
                                        
        </div>	
        
      </div>
    </div>
